<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.bakinghelper.dao.BakeCircleDao">
  <resultMap id="BaseResultMap" type="com.qf.bakinghelper.entity.BakeCircle">
    <id column="circle_id" jdbcType="INTEGER" property="circleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="circle_name" jdbcType="VARCHAR" property="circleName"/>
    <result column="resources" jdbcType="VARCHAR" property="resources" />
    <result column="praise" jdbcType="VARCHAR" property="praise" />
    <result column="comment_num" property="commentNum"/>
    <result column="topic_id" jdbcType="INTEGER" property="topicId"/>
    <association property="user" javaType="com.qf.bakinghelper.entity.User">
      <id column="user_id" property="userId" jdbcType="INTEGER" />
      <result column="account_id" property="accountId" jdbcType="VARCHAR" />
      <result column="sex" property="sex" jdbcType="VARCHAR" />
      <result column="head_img" property="headImg" jdbcType="VARCHAR" />
      <result column="nickname" property="nickname" jdbcType="VARCHAR" />
      <result column="introduce" property="introduce" jdbcType="VARCHAR" />
      <result column="email" property="email" jdbcType="VARCHAR" />
      <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="banggong" property="banggong" jdbcType="INTEGER" />
      <result column="watch_num" property="watchNum" jdbcType="INTEGER" />
      <result column="fans_num" property="fansNum" jdbcType="INTEGER" />
      <result column="medal" property="medal" jdbcType="INTEGER" />
      <result column="grade" property="grade" jdbcType="VARCHAR" />
      <result column="phone" property="phone" jdbcType="VARCHAR" />
      <result column="qq" property="qq" jdbcType="VARCHAR" />
      <result column="wechat" property="wechat" jdbcType="VARCHAR" />
      <result column="password" property="password" jdbcType="VARCHAR" />
    </association>
    <association property="topic" javaType="com.qf.bakinghelper.entity.Topic">
      <id column="topic_id" jdbcType="INTEGER" property="topicId" />
      <result column="topic_name" jdbcType="VARCHAR" property="topicName" />
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bake_circle
    where circle_id = #{circleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.bakinghelper.entity.BakeCircle">
    insert into bake_circle (user_id,circle_name, time,
      description, resources, praise,topic_id)
    values (#{userId,jdbcType=INTEGER},#{circleName,jdbcType=VARCHAR}, #{time,jdbcType=DATE},
      #{description,jdbcType=VARCHAR}, #{resources,jdbcType=VARCHAR}, #{praise,jdbcType=VARCHAR},#{topicId,jdbcType=INTEGER})
  </insert>

  <update id="updateCommentNumByPrimaryKey" parameterType="com.qf.bakinghelper.entity.BakeCircle">
    update bake_circle
    set comment_num = #{commentNum}
    where circle_id = #{circleId,jdbcType=INTEGER}
  </update>

  <update id="updatePraiseByPrimaryKey" parameterType="com.qf.bakinghelper.entity.BakeCircle">
    update bake_circle
    set praise = #{praise}
    where circle_id = #{circleId,jdbcType=INTEGER}
  </update>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    nickname,head_img,time,comment_num,circle_id,resources,topic_name,praise,circle_name,bake_circle.user_id
    FROM
    bake_circle ,
    topic ,
    `user`
    WHERE
    circle_id = #{circleId}
  </select>



  <select id="selectAll" resultMap="BaseResultMap">
   SELECT
    nickname,head_img,time,circle_id,comment_num,resources,description,topic_name,praise,circle_name,bake_circle.user_id
    FROM
    bake_circle ,
    topic ,
    `user`
    WHERE
    bake_circle.topic_id = topic.topic_id and
		bake_circle.user_id = user.user_id
    ORDER BY
    bake_circle.time DESC
  </select>
</mapper>