<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.bakinghelper.dao.CommentDao">
  <resultMap id="BaseResultMap" type="com.qf.bakinghelper.entity.Comment">
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="bake_circle_id" jdbcType="INTEGER" property="bakeCircleId" />
    <result column="comment_time" jdbcType="DATE" property="commentTime" />
    <result column="content" jdbcType="VARCHAR" property="content"/>
    <association property="user" javaType="User">
      <id column="user_id" property="userId"></id>
      <result column="nickname" property="nickname"/>
      <result column="head_img" property="headImg"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.bakinghelper.entity.Comment">
    insert into comment (comment_id, u_id, bake_circle_id, comment_time, content
      )
    values (#{commentId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{bakeCircleId,jdbcType=INTEGER}, #{commentTime,jdbcType=DATE}, #{content,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qf.bakinghelper.entity.Comment">
    update comment
    set u_id = #{uId,jdbcType=INTEGER},
      comment_time = #{commentTime,jdbcType=DATE},
      content = #{content,jdbcType=VARCHAR}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select comment_id, u_id, comment_time,content
    from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <select id="selectAllByCircleId" resultMap="BaseResultMap">
    select comment_id, u_id, comment_time,content,nickname,head_img
    from comment left join user on u_id = user_id
    where bake_circle_id = #{circleId}
  </select>
</mapper>