<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.bakinghelper.dao.FoodTypeDao" >
   <!-- <resultMap id="BaseResultMap" type="Type" >
        <id column="type_id" property="typeId" jdbcType="INTEGER" />
        <result column="type_name" property="typeName" jdbcType="VARCHAR" />
        <collection property="details" ofType="Detail">
            <id column="d_id" property="dId" jdbcType="INTEGER" />
            <result column="detail_name" property="detailName" jdbcType="VARCHAR" />
            <result column="t_id" property="tId" jdbcType="INTEGER" />
            <collection property="foodTypes" ofType="FoodType">
                <id column="food_id" property="foodId" />
                <result column="foodTypeName" property="typeName"></result>
                <result column="foodDid" property="dId"/>
                <result column="food_img" property="foodImg"/>
            </collection>
        </collection>
    </resultMap>-->


    <resultMap id="BaseResultMap" type="com.qf.bakinghelper.entity.Detail" >
        <id column="d_id" property="dId" jdbcType="INTEGER" />
        <result column="detail_name" property="detailName" jdbcType="VARCHAR" />
        <result column="t_id" property="tId" jdbcType="INTEGER" />
        <collection property="foodTypes" ofType="FoodType">
            <id column="food_id" property="foodId" />
            <result column="type_name" property="typeName"></result>
            <result column="foodDid" property="dId"/>
            <result column="food_img" property="foodImg"/>
        </collection>
    </resultMap>
    <select id="foodTypeList" resultMap="BaseResultMap" resultType="Detail">
      select d.d_id,detail_name,d.t_id,food_id,type_name ,food_img
    from type_detail d LEFT JOIN food_type f
    on d.d_id = f.d_id
    where d.t_id = #{typeId}
    </select>


    <select id="foodList" resultMap="BaseResultMap">
        SELECT type_name,food_img from food_type
    </select>



</mapper>