<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.bakinghelper.dao.RecipeDao">
    <resultMap id="BaseResultMap" type="Recipe">
        <id column="r_id" jdbcType="INTEGER" property="rId" />
        <result column="r_name" jdbcType="VARCHAR" property="rName" />
        <result column="title_img" jdbcType="VARCHAR" property="titleImg" />
        <result column="u_id" jdbcType="INTEGER" property="uId" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="create_time" property="createTime" />
        <result column="introduce" jdbcType="VARCHAR" property="introduce" />
        <association property="user" javaType="User">
            <id column="user_id" property="userId"/>
            <result column="nickname" property="nickname"/>
            <result column="head_img" property="headImg"/>
        </association>
        <collection property="recipeStepList" ofType="RecipeStep">
            <id column="step_id" jdbcType="INTEGER" property="stepId" />
            <result column="imgs" jdbcType="VARCHAR" property="imgs" />
            <result column="step" jdbcType="VARCHAR" property="step"/>
            <result column="stepRid" jdbcType="INTEGER" property="rId" />
        </collection>
    </resultMap>

    <select id="findAllRecipe" resultMap="BaseResultMap" resultType="Recipe">
        select
        r.r_id,r_name,title_img,u_id,note,r.introduce,create_time,
        user_id,nickname,head_img,stepId,imgs,step,s.r_id as stepRid
        from user right join recipe r on user_id = r.u_id
        left join recipe_step s on r.r_id = s.r_id

    </select>

</mapper>