<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.bakinghelper.dao.RecipeDao">
    <resultMap id="BaseResultMap" type="Recipe">
        <id column="r_id" jdbcType="INTEGER" property="rId" />
        <result column="r_name" jdbcType="VARCHAR" property="rName" />
        <result column="title_img" jdbcType="VARCHAR" property="titleImg" />
        <result column="u_id" jdbcType="INTEGER" property="uId" />
        <result column="note" jdbcType="VARCHAR" property="note" />
        <result column="introduce" jdbcType="VARCHAR" property="introduce" />
        <collection property="recipeImgsList" ofType="RecipeImgs">
            <id column="img_id" jdbcType="INTEGER" property="imgId" />
            <result column="imgs" jdbcType="VARCHAR" property="imgs" />
            <result column="imgRid" jdbcType="INTEGER" property="rId" />
        </collection>
        <collection property="recipeStepList" ofType="RecipeStep">
            <id column="step_id" property="stepId"></id>
            <result column="step" property="step"></result>
            <result column="stepRid" property="rId"></result>
        </collection>
    </resultMap>

    <select id="findAllRecipe" resultMap="BaseResultMap" resultType="Recipe">
        select r.r_id,r_name,title_img,u_id,note,introduce,img_id,imgs,i.r_id as imgRid,
        step_id,step,s.r_id as stepRid
        from recipe_imgs i right join recipe r on i.r_id = r.r_id
        left join recipe_step s on s.r_id = r.r_id

    </select>

</mapper>