<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.bakinghelper.dao.VideoDao">
  <resultMap id="BaseResultMap" type="Video">
    <id column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="collect_num" jdbcType="INTEGER" property="collectNum" />
    <result column="cook_num" jdbcType="INTEGER" property="cookNum" />
    <result column="feature_id" jdbcType="INTEGER" property="featureId" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="learn" jdbcType="VARCHAR" property="learn" />
    <result column="video_href" jdbcType="VARCHAR" property="videoHref" />
    <result column="img_href" jdbcType="VARCHAR" property="imgHref" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video
    where video_id = #{videoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Video">
    insert into video (video_id, video_name, author_id,feature_id,
      collect_num, cook_num, type_id,
      content, introduce, learn,
      video_href, img_href)
    values (#{videoId,jdbcType=INTEGER}, #{videoName,jdbcType=VARCHAR}, #{authorId,jdbcType=INTEGER},
        #{featureId},#{collectNum,jdbcType=INTEGER}, #{cookNum,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER},
      #{content,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{learn,jdbcType=VARCHAR},
      #{videoHref,jdbcType=VARCHAR}, #{imgHref,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="Video">
    update video
    set video_name = #{videoName,jdbcType=VARCHAR},
      author_id = #{authorId,jdbcType=INTEGER},
      feature_id = #{featureId,jdbcType=INTEGER},
      collect_num = #{collectNum,jdbcType=INTEGER},
      cook_num = #{cookNum,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      learn = #{learn,jdbcType=VARCHAR},
      video_href = #{videoHref,jdbcType=VARCHAR},
      img_href = #{imgHref,jdbcType=VARCHAR}
    where video_id = #{videoId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select video_id, video_name, author_id,feature_id, collect_num, cook_num, type_id, content,
    introduce, learn, video_href, img_href
    from video
    where video_id = #{videoId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select video_id, video_name, author_id,feature_id, collect_num, cook_num, type_id, content,
    introduce, learn, video_href, img_href
    from video
  </select>

<!--  查询推荐视频，在线学习人数为参考，选取数量最多的5位-->
    <select id="findAllHotVideo" resultMap="BaseResultMap">
        select * from video order by cook_num desc limit 0,5
    </select>
<!--    主页遍历各个专栏的视频-->


</mapper>